h2, h3, h4, p {
  margin: 0
}

html {
  display: flex;
  box-sizing: border-box;
  font-family: 'karla', sans-serif;
  background: #e5eff5;
  font-weight: 900;
  font-size: 16px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

*, *:before, *:after {
  box-sizing: border-box
}

#card {
  background: white;
  height: 460px;
  width: 640px;
  margin-left: 3%;
  margin-top: 10%;
  box-shadow: 7px 13px 54px -6px rgba(55,51,51,0.38);   border-radius: 8px;
  overflow: hidden;
}

#top-section {
  background-color: light gray;
  width: 100%;
  height: 45%;
  padding: 35px;
  line-height: 32px;
}

#top-section h2 {
  color: #2ab2af;
  margin-bottom: 15px
}

#top-section h3{
  color: #c0df34;
  margin-bottom: 7px
}

#top-section p {
  opacity: 0.7;
  color: #98a6bd;
  line-height: 25px
}

#bottom-section {
  width: 100%;
  height: 55%;
  display: flex;
  color: white;
}

#bottom-left-section {
  width: 50%;
  padding: 35px;
  background-color: #2ab2af;
  line-height: 2em
}

#bottom-right-section {
  width: 50%;
  padding: 40px;
  background-color: hsl(179, 62%, 43%, 0.9);
}

#bottom-right-section ul {
  opacity: 0.7;
  list-style: none;
  padding: 0;
  line-height: 22px;
  font-weight: 400;
  font-size: 14px
}

#bottom-left-title {
  margin-bottom: 15px
}

#dollar-container {
  display: flex;
  margin-bottom: 4px
}

.dollar-sheet {
  font-size: 30px;
}

.price-per-month {
  opacity: 0.6;
  vertical-align: top;
  font-weight: 400;
}

#bottom-left-p {
  padding-bottom: 25px;
  font-weight: 400;
  opacity: 0.9
}

button:hover {
  cursor: pointer
}

button {
  background: #c0df34;
  border: none;
  width: 100%;
  padding: 15px;
  font-size: 1rem;
  color: white;
  border-radius: 5px;
  box-shadow: 1px 7px 20px 11px rgba(0,0,0,0.1);
  font-family: 'Open Sans', sans-serif;  
  family-weight: 600
}


